/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
input[type=number]{
    width: 50px;
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}
/*option:disabled { color: green; }
.disabled {color: green;}
:disabled {color: green; }
disabled {color: green; }
option:disabled {
    background: red;
}
input:disabled {
    background: #dddddd;
}
select:disabled {
    background: #dddddd;
}*/
