<div class="container" style="padding-top: 30px;">

  <div class="row">
      <div class="col-sm-12" style="padding-bottom: 25px;">
        <span style="padding-right: 10px;">
        <button type="button" class="btn btn-outline-primary">Download HTML</button></span>
        <button type="button" class="btn btn-outline-success">Download xls</button>
        <!-- <span style="padding-right: 10px;">
        <button type="button" class="btn btn-outline-warning">Change Group Size</button></span>
        <button type="button" class="btn btn-outline-success">Save and Download</button> -->
      </div>
    </div>

  <div class="row" style="padding-bottom: 25px;">
    <div ng-repeat="choice in myArray" class="col-md-4" style="padding-bottom: 35px;">
      <div class="card">
        <div class="card-block">
         <div class="card-header">
            <h6 class="card-title" style="padding-top: 10px;">{{choice.choice}}<br>

            <h6>Moderator: <span ng-if "choice.selectedPerson.length > 0">{{choice.selectedModerator}}</span><h6>
          </div>
          <div class="card-text" style="padding: 5px;">
            <b>Group members: </b>
            <div ng-repeat="member in choice.members">
            <span>{{member}} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
