
<div class="container" style="padding-top: 30px; font-size: 14px;">

<div class="row">
    <div class="col-sm-12" style="padding-bottom: 25px;">
      <span style="padding-right: 10px;" ng-show="!loaded" class="ng-hide">
      <button ng-click="loadData();" type="button" class="btn btn-outline-success">Load data</button></span>
      <span ng-show="loaded" class="ng-hide" style="padding-right: 10px;">
      <button ng-click="clearSelectedModerators();" type="button" class="btn btn-outline-primary">Clear All Selections</button></span>
      <span ng-show="loaded" class="ng-hide" style="padding-right: 10px;">
      <button type="button" ng-click="ShowHide();" class="btn btn-outline-warning">Change Group Size</button></span>
        <span ng-show="loaded" class="ng-hide" style="padding-right: 10px;">
      <button type="button" ng-click="autoAssign();" class="btn btn-outline-danger">Auto Assign </button></span>
        <span ng-show="loaded" class="ng-hide" style="padding-right: 10px;">
        <button type="button" ng-click="reset();" class="btn btn-outline-success">Reset</button></span>
    </div>
  </div>
<div style="padding-bottom: 20px;" ng-hide="IsHidden">Change group maximum size to:
  <span style= "padding-left: 10px;"><input ng-model="groupSize" type="number" ng-init="groupSize = 12"/></span><span style= "padding-left: 10px;"><button type="button" ng-click="saveGroupSize();" class="btn btn-sm btn-warning">Save</button></span>
</div>
  <div class="row" style="padding-bottom: 25px;">
    <div ng-repeat="item in myArray" class="col-md-3" style="padding-bottom: 35px;">
      <div class="card">
        <div class="card-block">
          <div class="card-header">
            <h6 class="card-title" style="font-size: 14px;">{{item.choice}}</h6>
            <span style="padding-bottom: 10px;">Participant count: {{item.members.length}} </span>
            <div class="card-text">
              <div style="padding-top: 10px;" ng-if="item.selectedPerson.length > 0">
                Moderator: <br><b> {{item.selectedPerson}}</b><br>
              </div>
            <form>
              <div class="form-group">
                <label for="item.selectedPerson" style="padding-top: 20px;">Primary Moderators:</label>
                <select class="form-control" ng-style="myStyle" data-ng-model="item.selectedPerson" ng-change="setModerator(item.choice, item.selectedPerson);"
                  data-ng-options="moderator.name as moderator.name disable when moderator.selectable for moderator in item.moderatorsPrimary">
                </select>
                <label for="item.selectedPerson" style="padding-top: 20px;">Backup Moderators:</label>
                <select class="form-control" data-ng-model="item.selectedPerson" ng-change="setModerator(item.choice, item.selectedPerson);"
                  data-ng-options="moderator.name as moderator.name disable when moderator.selectable for moderator in item.moderatorsBackup">
                </select>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
